* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgb(254, 209, 63);
  height: 100px;
  padding: 10px;
  margin: 20px;
}
div {
  font-size: 20px;
  text-align: left;
  line-height: 100px;
}
.sidebar {
  background-color: rgb(31, 138, 237);
  height: 230px;
  width: 500px;
  padding: 10px;
  margin: 20px;
}
.hh {
  font-size: 20px;
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.welcome {
  background-color: green;
  height: 230px;
  width: 1000px;
  padding: 40px;
  margin: 20px;
}
.footer{
    background-color: orange;
   height: 100px;
  padding: 20px;
  margin: 20px;
   margin: 20px;
}
}
